*/proposal.aux
*/proposal.bbl
*/proposal.blg
*/proposal.log
*/proposal.pdf
*/proposal.synctex.gz
*/RainCloud-*.pdf


final-paper/final-paper.aux
final-paper/final-paper.blg
final-paper/RainCloud-3rd.pdf
final-paper/final-paper.bbl
final-paper/final-paper.log
